In [2]:
#Â Import required libraries
import pandas as pd

# Import data
client_details = pd.read_csv('data/client_details.csv')
subscription_records = pd.read_csv('data/subscription_records.csv', parse_dates = ['start_date','end_date'])
economic_indicators = pd.read_csv('data/economic_indicators.csv', parse_dates = ['start_date','end_date'])
payment_history = pd.read_csv('data/payment_history.csv', parse_dates=['payment_date'])

In [4]:
client_details.head()

    client_id company_size    industry       location
0  4280387012        Large     Fintech       New York
1  2095513148        Small     Fintech     New Jersey
2  7225516707       Medium     Fintech   Pennsylvania
3  8093537819        Large      Crypto       New York
4  4387541014       Medium  E-commerce  Massachusetts

In [6]:
subscription_records.head()

    client_id subscription_type start_date   end_date  renewed
0  1131383004            Yearly 2020-11-11 2021-11-11    False
1  4309371709           Monthly 2021-05-24 2021-06-23     True
2  3183675157            Yearly 2021-12-25 2022-12-25     True
3  5371694837           Monthly 2020-03-14 2020-04-13     True
4  5157113076           Monthly 2019-11-07 2019-12-07    False

In [20]:
economic_indicators.head()

   Unnamed: 0 start_date   end_date  inflation_rate  gdp_growth_rate
0           0 2018-01-01 2018-03-31            5.77             3.51
1           1 2018-04-01 2018-06-30            1.17             2.15
2           2 2018-07-01 2018-09-30            1.56             1.82
3           3 2018-10-01 2018-12-31            2.78             2.43
4           4 2019-01-01 2019-03-31            6.91             3.44

In [22]:
# Question 1 - How many total Fintech and Crypto clients does the company have?
total_fintech_crypto_clients = client_details[
    (client_details['industry'] == 'Fintech') | 
    (client_details['industry'] == 'Crypto')
]['client_id'].nunique()

total_fintech_crypto_clients

47

In [24]:
# Question 2 - Which industry has the highest renewal rate?
renewed_clients = subscription_records[subscription_records['renewed'] == True]
top_industry = pd.merge(
    renewed_clients,
    client_details,
    on='client_id'
)['industry'].value_counts().idxmax()

top_industry

'Gaming'

In [26]:
# Question 3 - Calculate the average inflation rate for renewed subscriptions

subs_with_inflation = pd.merge_asof(
    subscription_records.sort_values(by='end_date'),
    economic_indicators,
    left_on='end_date',
    right_on='start_date',
    direction='backward'
)


avg_inflation_for_renewals = subs_with_inflation[subs_with_inflation['renewed'] == True].inflation_rate.mean()

avg_inflation_for_renewals

4.418909090909092